<div class="m-5">
<div class="container">
  {{#if errors}}
    {{#each errors}}
      <div class="alert alert-danger">{{this.msg}}</div>
    {{/each}}
  {{/if}}
    <div class="text-center">
    <form class="form-signin" action="/login" method="POST">
      <img class="mb-4" src="/img/icons/icon-144x144.png" alt="" width="144" height="144">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Username</label>
      <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
      <br>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
    </form>
    </div>
</div>
</div>